#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error {
  color: var(--destructive-color);
}

.chart-svg {
  background: var(--background-secondary-color);
  overflow: visible;
}

.multi-series-legend {
  margin-top: 12px;
}

.multi-series-legend-item {
  margin-right: 12px;
}

.multi-series-legend-item-dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 4px;
}
